/* CSS Document */
body{ background-color:rgba(239,239,239,1.00); font-size:14px;}
.main-container{
	margin:10px auto;
	padding:15px;
	border:solid 1px rgba(0,0,0,0.2);
	/*-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);*/
	background-color:#FFF;
}

p.capital-letter::first-letter{ display:block; float:left; font-size:40px; margin:0px; padding:0px; line-height:40px;}
span.capital-letter{ display:block; float:left; font-size:40px; color:#000; margin:0px; padding:0px; line-height:40px;}
p:first-line {}
p { text-align:justify;}

/*HEADER*/
.container>header{ display:block; margin:0px; padding:10px; min-height:60px; background-color:rgba(231,121,44,1.00); margin-bottom:20px; }
.container>header>p{ font-size:60px; color:#FFF; padding:0px; margin:0px;}

/*BLOCK LIST*/
.comp{ list-style:none; padding:0px; margin:0px;  }
.comp>li{ padding-left:28px;}
.comp>li>ul{ padding:10px 0px; list-style:none; margin:0px; padding-bottom:30px;}
.comp>li>ul>li{ padding:1px; padding-left:20px; }
.block-title{ display:block; margin:0px; padding:5px 0px; font-size:16px; font-weight:bold; color:#FFF;}

/* BG COLORS */
.aqua-bg{ background:rgba(0,159,142,1.00);}
.green-bg{ background:rgba(124,171,65,1.00);}
.orange-bg{ background:rgba(234,137,44,1.00);}
.darkorange-bg{ background-color:rgba(223,83,42,1.00);}
.purple-bg{ background:rgba(127,43,124,1.00);}
.cyan-bg{ background:rgba(29,175,218,1.00);}
.blue-bg{ background:rgba(10,79,118,1.00);}
.lime-bg{ background-color:rgba(129,190,67,1.00);}
.brown-bg{ background-color:rgba(152,126,71,1.00);}
.light-blue-bg{background-color:rgba(195,218,224,1.00);}
.cream-bg{ background-color:#ECE8DA;}
.turquoise-bg{ background:#218CAE;}
.skyblue-bg{ background:#F5FBFC;}
.lime-alt-bg{ background:#85B200;}

/* TEXT COLORS */
.blue-text{ color:rgba(4,135,249,1.00);}
.red-text{color:rgba(242,10,10,1.00);}
.aqua-text{ color:rgba(42,112,127,1.00);}
.orange-text{ color:rgba(234,137,44,1.00);}
.white-text{ color:#FFF;}
.purple-text{ color:rgba(93,42,122,1.00);}
.yellow-text{ color:#FFEB20;} 
.darkred-text{color:#B31E2C;}
.darkgreen-text{color:#017002;}



/* BORDER COLOR */
.lime-border{ border-color:rgba(129,190,67,1.00);}
.light-blue-border{border-color:rgba(195,218,224,1.00);}
.white-border{ border-color:rgba(255,255,255,1.00);}
.brown-border{ border-color:rgba(151,125,71,1.00);}
.orange-border{ border-color:rgba(234,137,45,1.00);}
tr.white-border, th.white-border{ border-color:#FFF!important;}
.black-border{ border-color:#000;}



/* TEXT STYLES*/
.center-text{ text-align:center;}
.right-text{ text-align:right;}
/* BLOCK TITLE INPAGE*/
.block-header{font-size:14px; margin:0px; padding:0px; color:#FFF; background-color:rgba(231,121,44,1.00); font-weight:bold; letter-spacing:1px; text-align:right; height:40px; line-height:40px; clear:both;}
.block-header>strong{ display:block; background-color:rgba(81,150,118,1.00); float:right; height:100%; line-height:40px; padding:0px 9px; margin-left:10px; clear:both;}

/*H TAGS*/
h1{ color:rgba(189,38,43,1.00);}
h4,h3{ margin-bottom:14px; display:block;}
h2{ padding:0px 0px; 
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 4px;
border-top-right-radius: 10px;
border-bottom:solid 4px rgba(124,171,65,1.00);
line-height:45px;
}
/*h2>.glyphicon{ background-color:rgba(23,75,128,1.00); display:block; float:left; margin:0px; padding:0px; height:100%; min-width:44px; text-align:center; line-height:45px;; top:0px; margin-right:10px; clear:both; color:#FFF;} */
h2>.glyphicon{ background-color:rgba(0,0,0,0.35); display:block; float:left; margin:0px; padding:0px; height:100%; min-width:44px; text-align:center; line-height:45px; top:0px; margin-right:10px; clear:both; color:#FFF; border-radius:4px; border-bottom-right-radius:0px; border-bottom-left-radius:0px; background-color:rgba(124,171,65,1.00);}
h2:after{ content:''; clear:both;}
h5{ font-weight:normal; margin-left:14px;}
h5:before{ content:''; margin-left:-14px; margin-right:8px; line-height:inherit;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
    border-left:6px solid green; display:inline-block;}
h5>b{color:rgba(50,130,154,1.00);}


/* LIST STYLES */
ul{ list-style:none; padding-left:0px; }
ul.with-margin{ margin-left:14px;}
li{ padding-left:22px;}
li>b{ float:left; margin-left:-22px;}
ul>li>b{ color:rgba(50,130,154,1.00);}
ul.dark>li>b{color:rgba(143,23,88,1.00);}

.main-container>ul{ padding:0px;}
ul.no-padding{ padding:0px; list-style:none;}
li{ margin-top:7px; margin-bottom:7px;}

ul.has-bullet>li{  background-position:left 7px; background-repeat:no-repeat; background-image:url(../content/images/bullet.png); background-size:8px; }
ul.has-arrow>li{  background-position:left 7px; background-repeat:no-repeat; background-image:url(../content/images/arrow.png); background-size:8px; }

ul.triple-column{ column-count:3;}

/* TABLE STUFF*/
table{ border-collapse:collapse; border:solid 1px;}
tr{ border-collapse:collapse;  border:solid 1px; border-color:inherit; }
th,td{  border:solid 1px; border-color:inherit; padding:2px 5px; height:28px;}
th{ text-align:inherit;}
td{ vertical-align:text-top;}
td.vcenter{ vertical-align:middle;}
td.space{ padding-left:22px;}


/* MISC*/
.container-proj{ padding:10px 10px; 
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-bottomleft: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

article{ display:block; margin:4px auto; background:rgba(209,203,191,1.00); border-top:solid 5px rgba(234,137,44,1.00); border-bottom:solid 5px rgba(234,137,44,1.00); padding:10px 15px;}
article>p{ margin:0px;}

.note{ display:block; margin:10px 0px; background-color:rgba(243,236,223,1.00); padding:7px 14px;}
.note q{ text-align:right; display:block;}
.note.alt{ background-color:rgba(242,246,227,1.00)!important;}

.know-box{ display:block; margin:5px auto; max-width:820px; color:#FFF; 
-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4); margin-bottom:18px; margin-top:20px;}
.know-box>p{ padding:5px; margin:0px;  }
.know-box>.box-title{  position:relative;  height:34px; line-height:34px; padding:0px 5px;}
.know-box>.box-title::before{ content:''; clear:both; display:block; float:left; width:10px; height:34px; margin-left:-5px; margin-top:0px; margin-right:5px; background-color:rgba(0,132,180,1.00);}
.know-box>.box-title>.glyphicon{ text-align:right; color:#FFF; font-size:16px; position:absolute; right:8px; top:9px;}
.know-box>.box-body{ padding-top:4px; font-weight:normal;  color:rgba(65,65,65,1.00); background-color:rgba(240,240,224,1.00); border-bottom:solid 2px rgba(0,132,180,1.00);}

.img-block{ margin-bottom:20px; display:block;}

.separate{ margin-top:30px;}

/* MULTIMEDIA USE*/
.img-responsive{ margin:14px auto; max-height:530px; max-width:800px; width:100%;} 
img[data-zoomable]{ cursor:pointer; }
video{ display:block; max-width:100%; height:auto; margin:14px auto;}


/****** BUTTONS SECTION GENERIC ******/
.button-container{ display:block; text-align:right; clear:both!important;  margin-top:15px; }
.button{line-height:20px; padding:10px; border-radius:0px; -webkit-border-radius:0px; height:auto; display:inline-block;}
.button-container .button:first-child{border-top-left-radius:10px; border-bottom-left-radius:10px;}
.button-container .button:last-child{border-top-right-radius:10px; border-bottom-right-radius:10px;}
.button+.button{ border-left:solid 1px rgba(255,255,255,0.20);}

.button-primary{ background-color:#6D9C36; border:none; color:#FFFFFF; cursor:pointer; }
.button-primary:hover{ background-color:#327931!important; color:#FFFFFF; text-decoration:none;}

.button-default{ background-color:#005D8A; border:none; color:#FFFFFF; cursor:pointer; }
.button-default:hover{ background-color:#00365A!important; color:#FFFFFF; text-decoration:none;}

div[data-toggle="btn-radio"]{ margin:0 auto; text-align:center;}
div[data-toggle="btn-radio"]>button{ display:inline-block; line-height:24px; border:none; padding-left:15px; padding-right:15px; color:#FFFFFF;
background:#cecece; outline: none;}
div[data-toggle="btn-radio"]>button:hover{background: #3cb0fd;}
div[data-toggle="btn-radio"]>button:first-child{border-top-left-radius:10px; border-bottom-left-radius:10px;}
div[data-toggle="btn-radio"]>button:last-child{border-top-right-radius:10px; border-bottom-right-radius:10px;}
div[data-toggle="btn-radio"]>button+button{ border-left:solid 1px #BBBBBB;}
.checked{ background: #0b9e29!important;}

div[data-toggle="btn-radio"].inline{ display:inline-block!important; float:right!important;}

.level{ display:block; text-align:right; height:34px; max-height:34px; overflow-y:hidden;} 
.level>.holder{ vertical-align:bottom; display:inline-block; margin-right:6px; line-height:12px; font-weight:lighter; letter-spacing:1px;}
.level>span{ display:inline-block; background-color:#BFC0BF; vertical-align:bottom!important; padding:0px 5px; margin:0px 1px; font-size:10px; color:#FFFFFF; }
.level>span.active{ background-color:#005D89;}


/* INTERACTIVE STUFF */
p[contenteditable=true], p.fake-editable {
   resize:none; /* disable resizing */
   text-indent:0px; min-height:26px;  display:block; margin-top:6px; margin-bottom:6px; margin-left:auto; margin-right:auto;
 	line-height:26px;   position: relative;    border:none;color:#0333FF;
    background: -webkit-linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.0) 4%) 0 49px;
    background: -moz-linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.00) 4%) 0 49px;
    background: linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.00) 4%) 0 49px;
    -webkit-background-size: 100% 26px;
    -moz-background-size: 100% 26px;
    -ms-background-size: 100% 26px;
    background-size: 100% 26px;
	vertical-align:top;
}

span[contenteditable=true] {
   resize:none; /* disable resizing */
   
   text-indent:0px; min-height:26px; display:block; margin-top:6px; margin-bottom:6px; margin-left:auto; margin-right:auto;
 	line-height:26px; position: relative; border:none; color:#0333FF;
    background: -webkit-linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.0) 4%) 0 49px;
    background: -moz-linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.00) 4%) 0 49px;
    background: linear-gradient(top, #0067A5 0%, rgba(255,255,255,0.00) 4%) 0 49px;
    -webkit-background-size: 100% 26px;
    -moz-background-size: 100% 26px;
    -ms-background-size: 100% 26px;
    background-size: 100% 26px;
	vertical-align:top;
}
[data-hint]:empty:before {  content: attr(data-hint);  color:#6B6B6B;  float:left; display: block; }
p[data-init-with]:before{  content: attr(data-init-with);  color:#6B6B6B;  float:left; margin-right:4px;  display: block; }

.double-line{ min-height:52px!important;}
.triple-line{ min-height:78px!important;}
.many-line{min-height:156px!important;}


.glossary-word{ color:rgba(22,142,0,1.00); cursor:pointer; text-decoration:none;}
.popup-container{ display:block; position:fixed; z-index:999999; left:0px; right:0px; bottom:0px; background-color:rgba(0,0,0,0.38);

}
.popup-window{ display:block; position:absolute;  left:0px; right:0px; color:rgba(69,69,69,1.00); height:auto;
 margin:0px auto; background:rgba(255,255,255,1.00); border-top:solid 5px rgba(234,137,44,1.00); border-bottom:solid 5px rgba(234,137,44,1.00); padding:10px 15px;
 max-width:880px;
}
.popup-title{ display:block; line-height:30px; color:rgba(42,112,127,1.00); font-weight:bold; margin:0px;}
.popup-body{ display:block; margin:0px;}
.popup-copy{ display:block; cursor:pointer; top:-24px; right:0px; padding:2px 9px;  position:absolute; background-color:rgba(234,137,44,1.00); color:#FFF; border-top-left-radius:5px; text-decoration:none;}
.popup-copy:hover{ text-decoration:none; color:#EEEEEE;}
span.arrow-up{
position:absolute; top:-10px;
width: 0;
height: 0;
border-style: solid;
border-width: 0 6px 10.4px 6px;
border-color: transparent transparent #ffffff transparent;
}

span.arrow-down{
position:absolute; bottom:-10px;
width: 0;
height: 0;
border-style: solid;
border-width: 10.4px 6px 0 6px;
border-color: #ffffff transparent transparent transparent;
}

/**/

article{ display:block;}
article>p{ margin:0px;}



.hide-me{} /*USEFUL  FOR NOT SHOWING ON NOTEBOOK */

/**/

ul[class^='has-'] li{position: relative;padding-left:18px;}
ul[class^='has-'] li:before{content: ''; position: absolute; left: 0; top: 7px; width: 5px; height:  5px; border-radius: 50%;}

ul.has-pink>li:before{background: #ef436c;}
ul.has-blue li:before{background: #0072bc;}
ul.has-red li:before{background: #de2921;}
ul.has-aqua li:before{background: #2daea6;}
ul.has-purple li:before{background: #6553a2;}
ul.has-rose li:before{background: #ba519f;}
ul.has-orange li:before{background: #F36F21;}
ul.has-green>li:before{background: #5cb85c;}

ul.b-red > li > b{ color: #ED1A3B;}
ul.b-pink > li > b{ color: #ef436c;}
ul.b-orange > li > b{ color: #F36F21;}


@media only screen and (max-width: 767px) {
	.main-container{ margin:0px!important; border:none; clear:both;}
   .block-header{height:auto;  text-align:center; margin-bottom:10px; display:block!important;}
	.block-header>strong{ float:right; margin-left:10px; clear:both; width:100%;}
}

@media only screen and (max-width: 440px) {
ul.triple-column{ column-count:1;}
ul.five-column{ column-count:1;}
}
