@charset "UTF-8";
/* CSS Document */

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.drag-elements{
	}
	
.drag-items {
	border-radius: 10px;
	border: 2px solid #73AD21;
	padding: 10px 20px; 
	margin: 5px;
	display:block;
}
.introduction-div{border-color:#ff3366; border-size: 1px; border-radius:5px; border-style: solid;}
.rounded-bottom-right {    border: 0px solid;    padding: 10px;    background: #dddddd;    border-bottom-right-radius: 15px; margin:1px;}
.rounded-div{border: 1px solid; border-radius:5px; border-color:#BABABA;}
.gray-shadow{ -webkit-box-shadow: 5px 5px 5px 0px rgba(186,186,186,1); -moz-box-shadow: 5px 5px 5px 0px rgba(186,186,186,1); box-shadow: 5px 5px 5px 0px rgba(186,186,186,1); }


/* Hacker Magic For English */
span[contenteditable=true].inline {   min-width: 50px;  resize:none;   display: inline-block; text-indent:0px; margin:0px; height:inherit; line-height:inherit; }
span[contenteditable=true].short { text-align:center;  min-width: 50px;  resize:none;   display: inline-block; text-indent:0px; margin:0px; height:inherit; line-height:inherit; max-height:40px}
span[contenteditable=true].medium { text-align:center; min-width: 120px;  resize:none;   display: inline-block; text-indent:0px; margin:0px; height:inherit; line-height:inherit; max-height:40px }

span[data-end-with]:after, p[data-end-with]:after{  content: attr(data-end-with);  color:#6B6B6B;  float:right; margin-left:4px;  display: block; }

.answerSpace{display:inline-block;min-width:100px;border-bottom:1px solid black;color:darkgray;text-align: center;}
.answerSpace.full{width:90%;}

audio{clear: both;display: block;width:100%;margin:1em 0;}

/*  Hacker Back  For English Books  */
header{ background:rgba(0,173,179,1.00)!important;}
.block-header.English{ background-color:rgba(209,34,42,1.00)!important; display:block; padding-left:22px; padding-right:22px; border-radius:15px; margin-bottom:30px;}
.block-header.English>strong{  background-color:rgba(37,64,143,1.00)!important;
 border-radius:15px; height:54px; margin-top:-7px; line-height:50px; font-size:20px; border:solid 2px #FFF;}
a.english-grammar{ color:#000!important; cursor:pointer; text-decoration:underline; }


/* HACKER - HEADERs AREA */
h2{ border:none; border-top-left-radius:0px; border-bottom-right-radius:20px; border-top-right-radius:20px; color:#FFF; text-shadow: 2px 2px 0px rgba(50, 50, 50, 1); display:inline-block; padding-right:37px;

-webkit-box-shadow: 3px 3px 1px 0px rgba(194,194,194,1);
-moz-box-shadow: 3px 3px 1px 0px rgba(194,194,194,1);
box-shadow: 3px 3px 1px 0px rgba(194,194,194,1);
}
h2>span{ display:inline-block; height:100%; width:14px;}

.english-blue{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2f4089+0,0073b1+100 */
background: #2f4089; /* Old browsers */
background: -moz-linear-gradient(left,  #2f4089 0%, #0073b1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #2f4089 0%,#0073b1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #2f4089 0%,#0073b1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f4089', endColorstr='#0073b1',GradientType=1 ); /* IE6-9 */
}
.english-blue>span{ background:#B23B92;}

.english-red{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e43e2e+0,ed9533+100 */
background: #e43e2e; /* Old browsers */
background: -moz-linear-gradient(left,  #e43e2e 0%, #ed9533 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #e43e2e 0%,#ed9533 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #e43e2e 0%,#ed9533 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e43e2e', endColorstr='#ed9533',GradientType=1 ); /* IE6-9 */
}
.english-red>span{ background:#D6E025}

.english-lime{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e34f+0,bcd74e+100 */
background: #e0e34f; /* Old browsers */
background: -moz-linear-gradient(left,  #e0e34f 0%, #bcd74e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #e0e34f 0%,#bcd74e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #e0e34f 0%,#bcd74e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e34f', endColorstr='#bcd74e',GradientType=1 ); /* IE6-9 */
text-shadow: 2px 2px 0px rgba(100, 100, 100, 1);
}
.english-lime>span{ background:#F5C12B;}

.english-orange{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0a837+0,f8c783+100 */
background: #f0a837; /* Old browsers */
background: -moz-linear-gradient(left,  #f0a837 0%, #f8c783 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #f0a837 0%,#f8c783 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #f0a837 0%,#f8c783 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0a837', endColorstr='#f8c783',GradientType=1 ); /* IE6-9 */
}
.english-orange>span{ background:#00B7BB;}

.english-cyan{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006ea0+0,26b8e1+100 */
background: #006ea0; /* Old browsers */
background: -moz-linear-gradient(left,  #006ea0 0%, #26b8e1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #006ea0 0%,#26b8e1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #006ea0 0%,#26b8e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ea0', endColorstr='#26b8e1',GradientType=1 ); /* IE6-9 */
}
.english-cyan>span{ background:#F5C12B;}

.english-red-to-red{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#811416+0,f26b6b+50,e51f25+100 */
background: #811416; /* Old browsers */
background: -moz-linear-gradient(left,  #811416 0%, #f26b6b 50%, #e51f25 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #811416 0%,#f26b6b 50%,#e51f25 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #811416 0%,#f26b6b 50%,#e51f25 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#811416', endColorstr='#e51f25',GradientType=1 ); /* IE6-9 */
}
.english-red-to-red>span{ background:#F4C02C;}

.english-purple{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b93897+0,2e3d8f+100 */
background: #b93897; /* Old browsers */
background: -moz-linear-gradient(left,  #b93897 0%, #2e3d8f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #b93897 0%,#2e3d8f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #b93897 0%,#2e3d8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b93897', endColorstr='#2e3d8f',GradientType=1 ); /* IE6-9 */
}
.english-purple>span{ background:#46AC53;}

.english-green{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0a837+0,f8c783+100 */
background: #007430; /* Old browsers */
background: -moz-linear-gradient(left,  #007430 0%, #55AC47 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #007430 0%,#55AC47 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #007430 0%,#55AC47 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007430', endColorstr='#55AC47',GradientType=1 ); /* IE6-9 */
}
.english-green>span{ background:#CA2C27;}



.english-title { color:#AF2690; font-size:30px; margin-top:0px; margin-bottom:8px; font-weight:bold;
        text-shadow: 3px 3px 1px #fff, -3px 3px 1px #fff, -3px -3px 1px #fff, 3px -3px 1px #fff, 0 -3px 1px #fff, 0 3px 1px #fff,
		3px 0px 1px #fff, -3px 0px 1px #fff, 4px 4px 4px #000;
}

.english-no-box-shadow{ -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border: solid 2px #FFF;}
.english-note-green{ display:block; background:rgba(215,225,0,1.00); color:#000; padding:12px; padding-top:30px; margin-top:-30px;
-webkit-box-shadow: 3px 3px 1px 0px rgba(194,194,194,1); -moz-box-shadow: 3px 3px 1px 0px rgba(194,194,194,1); box-shadow: 3px 3px 1px 0px rgba(194,194,194,1); }

.english-lesson{ display:block; margin:0px; position:relative;}
.english-lesson>h2>strong { font-weight:bold!important; 
text-shadow: 2px 2px 1px #fff, -2px 2px 1px #fff, -2px -2px 1px #fff, 2px -2px 1px #fff, 0 -2px 1px #fff, 0 2px 1px #fff,
		2px 0px 1px #fff, -2px 0px 1px #fff,
		3px 3px 5px #000;} 
.english-lesson>h2{ margin:0px!important; background:#D6E023;
line-height:34px; padding:10px;  padding-left:20px; color:#005482; 
 z-index:9999; text-shadow:none!important; }
.english-lesson>.lesson{ display:inline-block;  margin:0px!important; color:#AF2690; font-size:20px; margin-top:0px; margin-bottom:8px; font-weight:bold;}
.english-lesson>.sessions{ display:inline-block; margin:0px!important; color:#FFF; background:#BF212E; z-index:-999!important; border-bottom-right-radius:14px; padding-left:10px; padding-right:37px;}

/*********************
	 TABLE SECTION
**********************/
.none-border, .none-border th, .none-border td, .none-border tr{ border:none!important;  vertical-align: middle; }

.english-table{ background:#FAE29F;}
.english-table, .english-table th, .english-table td, .english-table tr{ border:solid 2px #FFF;}

.english-table-purple th{ background:rgba(136,62,151,1.00); color:#FFF; text-align:center;}
.english-table-purple td{ color:#000; border:solid 2px #FFF!important;}
.english-table-purple tr:nth-child(odd){ background:rgba(247,187,22,1.00);}
.english-table-purple tr:nth-child(even){ background:rgba(255,242,0,1.00);}


.english-dialog, .english-dialog th, .english-dialog td, .english-dialog tr{ border:none!important; }
.english-dialog th{ text-align:right; vertical-align:top!important;}
.english-dialog td{ vertical-align:top!important;}
.english-dialog tr:nth-child(odd)>th{ color:#28AF37;}
.english-dialog tr:nth-child(even)>th{ color:#EC4A35;}


.english-dialog.purple-red tr:nth-child(odd)>th{ color:#B93C96!important;}
.english-dialog.purple-red tr:nth-child(even)>th{ color:#CB3432!important;}

.english-dialog.red-blue tr:nth-child(odd)>th{ color:#CB3432;!important;}
.english-dialog.red-blue tr:nth-child(even)>th{ color:#0667B1!important;}


/* LADILLOS */
aside{ display:block; padding:10px; margin:10px auto; border-radius:10px; background:#F0EFE0;}
aside>h4, .simple-shadow, h4.with-shadow{text-shadow: 2px 2px 1px #fff, -2px 2px 1px #fff, -2px -2px 1px #fff, 2px -2px 1px #fff, 0 -2px 1px #fff, 0 2px 1px #fff,	2px 0px 1px #fff, -2px 0px 1px #fff,	3px 3px 5px #000; z-index:9999;
border-radius:8px; font-style:italic;}
aside p{ margin:0px; padding:0px; text-align:center;}
aside.orange>h4{ margin:0px!important; padding:8px; background:#F1872A; color:#E3352E; font-weight:bold!important;}
aside.green>h4{ margin:0px!important; padding:8px; background:#D1E06D; color:#00AC96; font-weight:bold!important; }
aside.green>h4>span{ color:#EF2497;}


/* utils */

.only-mobile{ display:none;}

.inner-shadow { -moz-box-shadow:    inset 0 0 10px #000000; -webkit-box-shadow: inset 0 0 10px #000000; box-shadow:         inset 0 0 10px #000000; padding:15px;
	}
	
.english-box{ display:block; box-sizing:border-box; border:none; padding:4px;}
.english-box.blue{ background:#DCEBF4; box-shadow:3px 3px 1px #0098CB;}
.english-box.purple{ background:#F0E3EF; box-shadow:3px 3px 1px #B24398;}
.english-box.green{ background:#E6F0E4; box-shadow:3px 3px 1px #44A54F;}
.english-box.orange{ background:#FAE7DA; box-shadow:3px 3px 1px #DF6831;}

.english-pull-to-right{ float:right; border-radius:0px; border-bottom-left-radius:20px; border-top-left-radius:20px; padding-right:0px; padding-left:37px;}
.english-pull-to-right>span{ float:right; margin-left:12px;}

.child-as-buttons>*{ cursor:pointer;}
.square-box{ display:block; float:left; margin: 5px; width:79px; height:50px; font-size:32px; text-align:center; line-height:50px; }


.button-english{ background-color:#0085BA; border:none; color:#FFFFFF; cursor:pointer; padding-right:18px; padding-left:18px; text-decoration:none; box-shadow:1px 1px 1px #41AD4E; }
.button-english:hover{ background-color:#AAB81F!important; color:#FFFFFF; text-decoration:none!important;}
.button-english:active{ text-decoration:none!important; color:#FFF;}
a.button-english{text-decoration:none!important; color:#FFF;}

.rounded-corner{ border-radius:10px;}
.border{ border: solid 1px #555;}
.shadow{ box-shadow:2px 2px 2px rgba(66,66,66,1.00);}

.eng-note{ display:block; width:100%; background:#D8E25A; padding:10px;}
.eng-note.cream{ background:#FFFBCB!important;}
.eng-note.blue{ background:#B8E3F1!important;}
.eng-note.blue table {border:solid 2px #FFF;}
.eng-note.blue table th, .eng-note.blue table td, .eng-note.blue table tr {border:solid 2px #FFF;}
.eng-note.blue table th { background:#0085BA; color:#FFF; text-align:center;}
.eng-note.blue table td { background:#F8E49E;}
.eng-note.blue table b { color:#3CB9EB;}

h5{ font-weight:bold; margin-left:0px;}
h5>b{ color:#EA8D42!important; }
li>b{ color:rgba(0,168,221,1.00)!important;}

.column{ column-count:2;}

.col-2{ column-count:2;}
.col-3{ column-count:3;}
.col-4{ column-count:4;}
.col-5{ column-count:5;}
.col-6{ column-count:6;}

h5:before{ content:''; display:none!important;}
.main-container>ul{ padding-left:18px;}

@media only screen and (max-width: 520px) {
	h2{ border:none; border-radius:0px!important; border-bottom-right-radius:20px!important; color:#FFF; text-shadow: 2px 0px 0px rgba(50, 50, 50, 1); display:block; padding-right:10px; padding-left:10px;}
	.english-pull-to-right{ float:none; border-radius:0px; border-bottom-right-radius:0px!important; border-bottom-left-radius:20px!important;  padding-right:10px; padding-left:10px; text-align:right;}
	.english-note-green{  margin-top:-10px; }
	.col-2{ column-count:2;}
	.col-3{ column-count:3;}
	.col-4{ column-count:2;}
	.col-5{ column-count:3;}
	.col-6{ column-count:3;}

}

@media only screen and (max-width: 400px) {
	.column{ column-count:1;}
	.col-2{ column-count:2;}
	.col-3{ column-count:1;}
	.col-4{ column-count:1;}
	.col-5{ column-count:2;}
	.col-6{ column-count:2;}
}


/* NEW TRICKS NEZ 1  2019A*/
div.border-decor{
	border:10px solid ; padding:5px; border-top-width:5px; 
	}
div.border-decor.green{
	border-color: rgba(140,199,63,1.00);
	box-shadow:6px 6px 0px  rgba(174,212,118,1.00), -6px -6px 0px  rgba(174,212,118,1.00);
}
div.border-decor.blue{
	border-color:rgba(16,72,138,1.00);
	box-shadow:6px 6px 0px rgba(73,126,164,1.00), -6px -6px 0px rgba(73,126,164,1.00);
}
div.border-decor.wine{
	border-color:rgba(120,38,64,1.00);
	box-shadow:6px 6px 0px rgba(173,95,122,1.00), -6px -6px 0px  rgba(173,95,122,1.00);;
}
div.border-decor.red{
	border-color:rgba(171,46,67,1.00);
	box-shadow:6px 6px 0px rgba(201,100,119,1.00), -6px -6px 0px  rgba(201,100,119,1.00);
}
div.border-decor.lightblue{
	border-color:rgba(74,149,217,1.00);
	box-shadow:6px 6px 0px rgba(137,195,235,1.00), -6px -6px 0px rgba(137,195,235,1.00);
}
